In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("campaign_performance.csv")

In [10]:
df.columns

Index(['campaign_id', 'ad_date', 'platform', 'ad_spend', 'clicks',
       'impressions'],
      dtype='object')

In [11]:
df['platform'].unique()

array(['insta', 'Instagram Ads', 'Instagram', 'YouTube', 'YT',
       'YouTube Ads', 'LI', 'LinkedIn Ads'], dtype=object)

In [12]:
df['platform'] = df['platform'].replace({
    'insta': 'Instagram',
    'Instagram Ads': 'Instagram',
    'Instagram': 'Instagram',
    'YT': 'YouTube',
    'YouTube Ads': 'YouTube',
    'LI': 'LinkedIn',
    'LinkedIn Ads': 'LinkedIn'})

In [13]:
df['platform'].value_counts()

platform
Instagram    10
YouTube      10
LinkedIn     10
Name: count, dtype: int64

In [14]:
df.to_csv("campaign_cleaned.csv", index= False)

In [15]:
df = pd.read_csv("campaign_cleaned.csv")

In [16]:
df = pd.read_csv("student_enrollments.csv")

In [17]:
df.columns

Index(['student_id', 'signup_date', 'course_name', 'completion_percentage',
       'source_campaign_id'],
      dtype='object')

In [18]:
df.head()

,student_id,signup_date,course_name,completion_percentage,source_campaign_id
0,2000,2024-01-01,Python for Data Science,27.88,1023
1,2001,2024-03-03,Python for Data Science,83.39,1016
2,2002,2024-01-08,Python for Data Science,75.61,1000
3,2003,2024-01-05,Python for Data Science,93.37,1025
4,2004,2024-02-10,Data Analytics 101,92.35,1008